general {
        colors = false
        interval = 1
}

# https://fortawesome.github.io/Font-Awesome/cheatsheet/

# order += "wireless wlan0"
order += "ethernet eth0"
order += "disk /"
# order += "disk /home"
# order += "load"
# order += "battery 0"
order += "cpu_usage"
order += "volume master"
order += "time"

wireless wlan0 {
        format_up = "    %essid %quality "
        format_down = "    ☠ "
}

ethernet eth0 {
        # if you use %speed, i3status requires root privileges
        format_up = "    %ip "
        format_down = "    ☠ "
}

battery 0 {
        format = "    %percentage "
}

time {
        format = "    %A %d %B %Y %H:%M:%S "
}

load {
        format = "    %1min "
}

disk "/" {
        format = "    %percentage_used "
}

disk "/home" {
        format = "    %free "
}

cpu_usage {
        format = "    %usage "
}

volume master {
        format = "    %volume "
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}
