general {
    colors = false
    interval = 1
}

# https://fortawesome.github.io/Font-Awesome/cheatsheet/

order += "window_title"
order += "ethernet enp3s0" # Replace enp3s0 with eth0 or any interface name
order += "net_rate"
order += "sysdata"
order += "disk /"
order += "volume master"
order += "weather_yahoo"
order += "time"

window_title {
    format = '{title}  '
}

ethernet enp3s0 { # Interface can be changed here (i.e replace enp3s0 by eth0)
    # if you use %speed, i3status requires root privileges
    format_up = "    %ip "
    format_down = "    ☠ "
    color_good = '#ffffff'
}

net_rate {
    format = "   {down}   {up} "
}

sysdata {
    format = "    {cpu_usage}%    {mem_used_percent}% "
    on_click 1 = "exec feh --bg-scale ~/images/wallpapers/`ls ~/images/wallpapers/ | sort -R | head -1`"
}

disk "/" {
    format = "    %percentage_used "
    on_click 1 = "exec thunar /home/pierre"
}

volume master {
    format = "    %volume "
    device = "default"
    mixer = "Master"
    mixer_idx = 0
    on_click 1 = "exec pavucontrol"
    on_click 3 = "exec clementine"
}

weather_yahoo {
    woeid = 615702
    cache_timeout = 7200
    forecast_days = 1
    request_timeout = 10
    unit = "C"
    format_today = '  {icon} {temp}°'
    format_forecast = ' {icon} {low}°/{high}° '
    on_click 1 = "exec firefox http://www.meteo.fr"
}

time {
    format = "     %a %d %b %H:%M:%S "
}
