general {
        colors = false
        interval = 1
}

# https://fortawesome.github.io/Font-Awesome/cheatsheet/

order += "ethernet enp3s0" # Replace enp3s0 with eth0 or any interface name
order += "load"
order += "disk /"
order += "volume master"
order += "time"

wireless wlan0 {
        format_up = "    %essid %quality "
        format_down = "    ☠ "
        color_good = '#ffffff'
}

# Interface can be changed here (i.e replace enp3s0 by eth0)
ethernet enp3s0 {
        # if you use %speed, i3status requires root privileges
        format_up = "    %ip "
        format_down = "    ☠ "
        color_good = '#ffffff'
}

battery 0 {
        format = "    %percentage "
}

time {
        format = "    %A %d %B %Y %H:%M:%S "
}

load {
        format = "    %1min "
        on_click 1 = "exec feh --bg-scale ~/images/wallpapers/`ls ~/images/wallpapers/ | sort -R | head -1`"
}

disk "/" {
        format = "    %percentage_used "
        on_click 1 = "exec thunar /home/pierre"
}

disk "/home" {
        format = "    %free "
}

cpu_usage {
        format = "    %usage "
}

volume master {
        format = "    %volume "
        device = "default"
        mixer = "Master"
        mixer_idx = 0
        on_click 1 = "exec pavucontrol"
        on_click 3 = "exec clementine"
}
